.App {
  text-align: center;
  padding-bottom: 18px;
  /* font-family: 'Francois One', sans-serif; */
  /* font-family: 'Varela Round', sans-serif; */
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 100vh;
}

.nav {
  background-color: orchid;
  overflow: hidden;
}

.nal_font {
  font-family: Nalotta;
  font-size: 4em;
}

.nal_font.big {
  font-size: 8em;
}

.nal_font.big._404 {
  font-size: 10em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.nal_font.big:hover {
  text-shadow: 2px 2px 8px orchid;
}

.snackIcons {
  padding-top: 2.5em;
}

footer {
  opacity: 0.4;
  font-size: .75em;
  margin-top: 4em;
  flex: 1;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

/* NavBar Styling */

.nav .link {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

.nav .link.right {
  float: right;
}

.nav .link:hover {
  /* background-color: #ddd;
  color: black; */
  background-color: #f694d9;
  color: ghostwhite;
}

/* FORM STYLING  */

input[type=text], [type=password] {
  width: 40%;
  padding: 12px 20px;
  margin: auto ;
  box-sizing: border-box;
  border: none;
  border-bottom: 4px solid black;
  display: block;
  outline: none;
  font-family: 'Roboto Condensed', sans-serif;
}

input[type=text]:focus, [type=password]:focus {
  background-color: rgb(221, 220, 219);
}

button {
  background-color: orchid;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  text-decoration: none;
  margin: 8px 2px;
  cursor: pointer;
  /* font-family: 'Varela Round', sans-serif; */
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
}

button:hover {
  background-color: #f694d9;
}

.error {
  color: firebrick;
}

/* SNACK CARD */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.snackcard {
  border: solid black 6px;
  border-radius: 4px;
  box-shadow: 8px 10px 10px slategray;
  height: 375px;
  width: 230px;
  padding: 10px;
  margin: 20px;
  color: black;
}

.snackcard.back {
  background-color: mistyrose;
}

.snackcard:hover {
  border: grey solid 6px;
  /* border: #f694d9 solid 6px; */
}

.snackImg {
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 200px;
}

.snackcardBtn {
  margin: 1em;
}

/* SNACK PROFILE PAGE */

.snackProfileImg {
  height: 500px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  padding: 20px;
  justify-content: center;
}

.reviews {
  justify-content: center;
}

.backBtn {
  margin: 50px;
  justify-content: center;
}

.review_box {
  border: solid black 6px;
  box-shadow: 8px 10px 10px slategray;
  margin: 2% 10%;
  padding: 5px;
  background-color: lightgray;
  /* background-color: rgb(210, 243, 252); */
}

.snack_title {
  border-bottom: dotted black 6px;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 10px;
}

.dotted {
  border-bottom: dotted black 6px;
  margin-left: 35%;
  margin-right: 35%;
  padding-bottom: 10px;
}

/* USER CARD  */

.userCardImg {
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 200px;
  border-radius: 6px;
}

/* USER PROFILE PAGE  */

.profPhoto {
  height: auto;
  max-height: 400px;
  width: auto;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 8px 10px 10px slategray;
}

.user_profile {
  margin-top: 50px;
}

.grid-container.profile {
  grid-gap: 15%;
  padding-bottom: 5%;
}

.prof_title {
  border-bottom: dotted black 6px;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 10px;
  font-family: Nalotta;
  font-size: 3em;
}

.reviewcard {
  border: solid black 6px;
  border-radius: 4px;
  box-shadow: 8px 10px 10px slategray;
  width: 180px;
  padding: 10px;
  margin: 20px;
  color: black;
  background-color: rgb(228, 228, 228);
}


