.App {
  text-align: center;
}

.nav {
  background-color: orchid;
  overflow: hidden;
}

/* NavBar Styling */

.nav .link {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav .link.right {
  float: right;
}

.nav .link:hover {
  /* background-color: #ddd; */
  background-color: #FED250;
  color: black;
}

/* FORM STYLING  */

input[type=text], [type=password] {
  width: 40%;
  padding: 12px 20px;
  margin: auto ;
  box-sizing: border-box;
  border: none;
  border-bottom: 4px solid black;
  display: block;
  outline: none;
}

input[type=text]:focus, [type=password]:focus {
  background-color: rgb(248, 192, 169);
}

button {
  background-color: orchid;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* SNACK CARD */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.snackcard {
  border: solid black 6px;
  border-radius: 4px;
  box-shadow: 8px 10px 10px slategray;
  height: 360px;
  width: 230px;
  padding: 10px;
  margin: 20px;
  color: black;
}

.snackcard:hover {
  border: mediumorchid solid 6px;
}

.snackImg {
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 200px;
}

/* SNACK PROFILE PAGE */

.snackProfileImg {
  height: 500px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px;
  padding: 20px;
  justify-content: center;
}

.reviews {
  justify-content: center;
}